<div *ngIf="isEdit">
  제목: <input type="" name="" value="" [(ngModel)]="title">
  <button type="" (click)="editTable()">수정</button>
</div>
<table >
  <thead>
    <th *ngFor="let item of head_list; let idx = index;">
      <input type="" name="" value="" [(ngModel)]="item.name" (ngModelChange)="item.name = $event">
      <button type="" (click)="editHead(idx, item.order)">수정</button>
      <button (click)="deleteHead(item.order)" *ngIf="!isEdit">삭제</button>
    </th>
    <th *ngIf="!isEdit">
      <input type="" name="" value="" placeholder="" [(ngModel)]="newHead">
      <button type="" (click)="addHead()">추가</button>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let item of showed_body_list">
      <td *ngFor="let sub_item of item">{{sub_item.content}}</td>
    </tr>
  </tbody>
</table>
<span *ngFor="let item of new_body">
  <input type="text" name="" value="" [(ngModel)]="item.content"> 
</span>
<div>
  <button type="" class="btn btn-primary" (click)="addBody()">추가</button>
</div>