<div id="home" class="tab-pane active cont">
  <table class="no-border no-strip information">
    <tbody class="no-border-x no-border-y">
    <tr>
      <td style="width:20%;" class="category"><strong>CONTACT</strong></td>
      <td>
        <table class="no-border no-strip skills">
          <tbody class="no-border-x no-border-y">
          <tr><td style="width:20%;"><b>Website</b></td><td>www.website.com</td></tr>
          <tr><td style="width:20%;"><b>E-mail</b></td><td>johnny@example.com</td></tr>
          <tr><td style="width:20%;"><b>Mobile</b></td><td>(999) 999-9999</td></tr>
          <tr><td style="width:20%;"><b>Location</b></td><td>Montreal, Canada</td></tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td class="category"><strong>ABOUT ME</strong></td>
      <td><p>I am a web developer and desginer based in Medellín - Colombia, I like read books, good music and nature.</p></td>
    </tr>


    </tbody>
  </table>
</div>