
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href="#"><span>Pedia</span></a>
    </div>
  </div>
</div>
<div id="cl-wrapper" class="fixed-menu">
  <navigation></navigation>
  <div class="container-fluid" id="pcont">
    <div class="cl-mcont">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
