<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="fa fa-gear"></span>
      </button>
      <a class="navbar-brand" href=""><span>HGU Pedia</span></a>
    </div>
    <ul class="nav navbar-nav navbar-right user-nav">
      <!--<li class="dropdown profile_menu">-->
        <!--<a (click)="login()" class="dropdown-toggle" data-toggle="dropdown">Login</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href="http://localhost:8001/auth/kakao">Login2</a>-->
      <!--</li>-->
    </ul>
  </div>
</div>
<div class="fixed-menu" id="cl-wrapper">
  <div class="cl-sidebar">
    <navigation></navigation>
  </div>
      <router-outlet></router-outlet>
</div>
