<div class="col-sm-6" *ngIf="!isEdit">
  <label>메뉴선택:</label>
  <select (change)="changedMenu($event.target.value)" class="form-control">
    <option [value]="">선택해주세요</option>
    <option [value]="item.id" *ngFor="let item of menu_list">{{item.name}}</option>
  </select>
</div>
<div class="col-sm-6" *ngIf="!isEdit">
  <label>유형선택: </label>
  <select (change)="categoryChanged($event.target.value)" class="form-control">
    <option [value]="">선택해주세요</option>
    <option [value]="item.name" *ngFor="let item of gVal.category">{{item.name}}</option>
  </select>
</div>
<div *ngIf="!isEdit && selectedCategory">
  제목: <input type="" name="" value="" [(ngModel)]="title">
</div>
<div *ngIf="selectedCategory == 'editor'">
  <editor-creator #editor [(title)]="title" [(menuNo)]="selectedMenu" [(isEdit)]="isEdit" [(contentNo)]="contentNo"></editor-creator>
</div>
<div *ngIf="selectedCategory == 'accordion'">
  <button type="" (click)="createAccordion()" *ngIf="!showAccordionEditor">새 아코디언 생성</button>
  <accordion-creator #accordion *ngIf="showAccordionEditor" [(accordionNo)]="createdAccordionNo" [(isEdit)]="isEdit"></accordion-creator>
</div>
<div *ngIf="selectedCategory == 'table'">
  <button type="" (click)="createTable()" *ngIf="!showTableEditor">새 테이블 생성</button>
  <table-creator #table *ngIf="showTableEditor" [(tableNo)]="createdTableNo" [(isEdit)]="isEdit"></table-creator>
</div>
<div *ngIf="selectedCategory == 'contact'">
  <button type="" (click)="createContact()" *ngIf="!showContactEditor">새 컨텍트 생성</button>
  <contact-creator #contact *ngIf="showContactEditor" [(contactNo)]="createdContactNo" [(isEdit)]="isEdit"></contact-creator>
</div>