<div class="col-sm-6">
  <label>메뉴선택:</label>
  <select (change)="changedMenu($event.target.value)" class="form-control">
    <option [value]="">선택해주세요</option>
    <option [value]="item.id" *ngFor="let item of menu_list">{{item.name}}</option>
  </select>
</div>
<div class="col-sm-6">
  <label>유형선택: </label>
  <select (change)="categoryChanged($event.target.value)" class="form-control">
    <option [value]="">선택해주세요</option>
    <option [value]="item.name" *ngFor="let item of gVal.category">{{item.name}}</option>
  </select>
</div>
<div>
  <div class="form-group">
    <label>제목:</label>  <input type="text" name="" value="" [(ngModel)]="title">
  </div>
  <br/>
  <div *ngIf="selectedCategory == 'editor'">
    <editor-creator [(title)]="title" [(menuNo)]="selectedMenu"></editor-creator>
  </div>
  <div *ngIf="selectedCategory == 'accordion'">
    <button type="" (click)="createAccordion()" *ngIf="!showAccordionEditor">새 아코디언 생성</button>
    <accordion-creator *ngIf="showAccordionEditor" [(accordionNo)]="createdAccordionNo"></accordion-creator>
  </div>
  <div *ngIf="selectedCategory == 'table'">
    <button type="" (click)="createTable()" *ngIf="!showTableEditor">새 테이블 생성</button>
    <table-creator *ngIf="showTableEditor" [(tableNo)]="createdTableNo"></table-creator>
  </div>
</div>