<div class="block-flat">
<div class="row">
  <div class="header">
    <h2>{{title}}</h2>
  </div>

<div class="col-xs-3 no-padding">
  <br/>
  <div class="content">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let item of contactList; let idx = index" (click)="openInfo(item.addY, item.addX, idx)">
        {{item.title}}
        {{item.content}}
        {{item.tel}}
        <hr/>
      </a>
    </div>
  </div>
</div>
  <div class="content">
    <div class="col-xs-9 padding">
      <div id="map" class="content map"></div>
    </div>
  </div>
</div>
</div>